.testimonial-item {
    position: relative;
    text-align: center;
    padding-top: 30px;  
    margin-right: 30px;
}

.testimonial-item .testimonial-text {
    position: relative;
    text-align: center;
}

.testimonial-item .testimonial-text .btn-square {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-item .testimonial-text::before {
    position: absolute;
    content: "";
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    border: 30px solid;
    border-color: var(--light) transparent transparent transparent;
}

.testimonial-item .testimonial-text::after {
    position: absolute;
    content: "";
    bottom: -59px;
    left: 50%;
    transform: translateX(-50%);
    border: 30px solid;
    border-color: #FFFFFF transparent transparent transparent;
}

.testimonial-carousel  img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.testimonial-carousel .slick-dots {
    bottom: -50px;
}

.testimonial-carousel .slick-dots li button {
    border: 1px solid var(--primary);
    border-radius: 30px;
    opacity: 0.75;
}
.testimonial-carousel .slick-dots li.slick-active button {
   
    opacity: 1;
}


.testimonial-carousel .slick-dots li button:before {
    color: var(--primary);
    font-size: 10px;
}

.testimonial-carousel .slick-dots.active::before {
    background: var(--primary);
}
.testimonial-carousel .slick-dots li.slick-active button:before {
    color: var(--primary);
    opacity: 1;
}
.testimonial-carousel .owl-dots {
    margin-top: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--light);
    border-radius: 30px;
    transition: .5s;
}

.testimonial-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 6px;
    left: 6px;
    border-radius: 16px;
    background: var(--light);
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    border-color: var(--primary);
}

.testimonial-carousel .owl-dot.active::after {
    background: var(--primary);
}
.testimonial-text {
    margin-right: 30px;
}

