.facts {
    background: linear-gradient(rgba(53, 94, 252, .95), rgba(53, 94, 252, .95)), url(../../../../public/img/bg.png);
}
table {
    caption-side: top;
   
}
@media (max-width: 768px) {
    table {
        width: 100%;
        overflow-x: scroll;
        display: block;
        white-space: nowrap;
    }
}
table.investment-report {
    border: 1px solid #000;
}

tr:nth-child(even) {
    background-color: #a5bfe5;
}
tr:nth-child(odd) {
    background-color: #a7c8f9;
}

.th-style {
   
    background-color: #f7f8fb;
}
.td-style {
    padding: 16px 14px;
    background-color: #f7f8fb;
}