
#topbar {
  padding-top:20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(53, 94, 252, .07);

}
#topbar .contact-info a:hover {
    text-decoration: underline;
  }
  
  #topbar .contact-info i {
    color: #f6b024;
    line-height: 0;
    margin-right: 5px;
  }
  
  #topbar .contact-info .phone-icon {
    margin-left: 15px;
  }
  
  #topbar .cta {
    background: transparent;
  }

  #topbar a , #topbar span{
    color: #fff;
  }
  
  #topbar .cta a {
    color: #fff;
    background: #f6b024;
    padding: 6px 24px 8px 24px;
    display: inline-block;
    transition: 0.3s;
    border-radius: 50px;
  }
  
  #topbar .cta a:hover {
    background: #f1a40a;
  }
 
  #topbar .lang-nav ul{
    display: flex;
    margin:0;
    list-style: none;
    
  }
  #topbar .lang-nav a {
    display: flex;
    color: #000;
    padding: 5px 15px;
    color: var(--tertiary);
    font-weight: 500;
    outline: none;
  }
  #topbar .lang-nav a:hover {
    color: var(--primary) !important;;
  }
  @media (max-width: 991px) {
    #topbar .lang-nav {
      display: none;
    }
    }
  